.Dynamicdropdown_icon_element{
    background: url(/plugins/DynamicDropdown/static/img/dynamicdropdown-logo.png) left center no-repeat !important;
}
.itemselector_icon_element {
    background: url(/plugins/DynamicDropdown/static/img/itemselector.png) left center no-repeat !important;
}