.Dynamicdropdown_icon_element{
    background: url(/plugins/DynamicDropdown/static6/img/dynamicdropdown-logo.svg) left center no-repeat !important;
}

.pimcore_icon_dynamicDropdown{
    background: url(/plugins/DynamicDropdown/static6/img/dynamicdropdown-logo.svg) left center no-repeat !important;
}

.pimcore_icon_dynamicDropdownMultiple{
    background: url(/plugins/DynamicDropdown/static6/img/dynamicdropdownmultiple-logo.svg) left center no-repeat !important;
}

.itemselector_icon_element {
    background: url(/plugins/DynamicDropdown/static6/img/itemselector.png) left center no-repeat !important;
}